html, body {
    height: 100%;
}

#page-container {
    min-height: 100%;
}

body {
    max-width: 95vw;
    margin: 0 auto;
    background-color: black;
    padding: 25px;
}

.navbar {
    background-color: rgb(140, 21, 53);
    padding: 10px;
}

.navbar-nav {
    font-size: 1vw;
}

ul {
    list-style: none;
}

.menu-container {
    padding: 60px 20px;
    font-size: 16px;
    line-height: 1.5;
    color: rgb(110, 102, 102);
    font-family: cursive;
    font-weight: bold;
}

.menu-header {
    margin-bottom: 35px;
}

.heading {
    font-size: 35px;
    color: white;
}

#menu-filters ul li {
    display: inline-block;
    letter-spacing: 1px;
    margin-bottom: 40px;
}

#menu-filters ul li a {
    padding: 10px 20px;
    border-radius: 0px;
    border: 1px solid rgb(110, 102, 102);
    text-decoration: none;
    cursor: pointer; 
}

#menu-filters ul li a.active, #menu-filters ul li a:hover {
    background-color: rgb(140, 21, 53);
    border: 1px solid white;
}

.menu-item {
    width: 50%;
    float: left;
    padding: 15px;
    position: relative;
}

.menu-item .menu-title {
    float: left;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: white;
}

.menu-item .menu-line {
    position: absolute;
    bottom: 6px;
    border-bottom: 1px dotted rgb(110, 102, 102);
    margin-left: .6rem;
    margin-right: .6rem;
}

.menu-item .menu-price {
    position: absolute;
    right: 0;
    top: 0;
}

.menu-item .menu-subtitle {
    display: block;
    float: left;
    font-size: 1.2rem;
}

.menu-item span.clearfix {
    position: relative;
    display: block;
}

.site-footer {
    text-align: center;
    color: rgb(209, 190, 190);
    background-color: rgb(140, 21, 53);
    padding: 30px 0;
}

h4 {
    font-size: 1vw;
}